#

#
# Python
# - MCP System (MCP Server Local)
#
mcp/server_local/__pycache__/
mcp/local_action_runner/__pycache__/

#
# results and temporary files
#
results/

# 
# self-hosted runner 
# - action-runner
#
actions-runner/*
actions-runner
